{% extends "layout.html" %}

{% block title %}
    {{ username }}
{% endblock %}

{% block main %}
    <h1 class="text-center">{{ username }}'s Tweets</h1>
    {% for tweet in tweets %}
        <div class="card">
            <h3 class="card-header">{{ tweet.username }}</h3>
            <p class="card-body">{{ tweet.contents }}</p>
            <div class="card-footer">
                <h5>{{ tweet.friendlydate }}</h5>
                <div class="like-container">
                {% if session %}
                    {% if tweet.userlikes %}
                        <button type="button" class="btn like-this" data-tweet-id="{{ tweet.id }}" data-action="dislike">
                            <img src="/static/heart_filled.svg" class="like" />
                            <span class="tweet-likes">{{ tweet.likes[0].likes }}</span>
                        </button>
                    {% else %}
                        <button type="button" class="btn like-this" data-tweet-id="{{ tweet.id }}" data-action="like">
                            <img src="/static/heart_empty.svg" class="like" />
                            <span class="tweet-likes">{{ tweet.likes[0].likes }}</span>
                        </button>
                    {% endif %}
                {% else %}
                    <button type="button" class="btn logged-out">
                        <img src="/static/heart_empty.svg" class="like" />
                        <span class="tweet-likes">{{ tweet.likes[0].likes }}</span>
                    </button>
                {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
